body {
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, monospace;
}

h1, h2, h3 {
    color: white;
    text-align: center;
}

nav {
    background-color: purple;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: yellow;
    color: black;
}

footer {
    background-color: purple;
    padding: 10px;
    text-align: center;
}

.banner {
    background-color: green;
    padding: 10px;
    text-align: center;
}

.banner a {
    color: white;
    text-decoration: none;
}

.banner a:hover {
    background-color: yellow;
    color: black;
}
