header h1 {
    color: #FFFFFF;
    font-size: 28px;
    margin: 0;
    text-align: center;
    flex-grow: 1;
    word-break: break-word; /* Allow line break within words */
}

@media (max-width: 768px) {
    header h1 {
        font-size: 20px;
    }
    
    /* Split "Vineyard Committee" and "On Hunger" onto two lines */
    header #header-content h1 span {
        display: block;
    }
}
